body {
	background-color: black;
}

footer {
	position: fixed; 
	bottom: 0px; 
	width: 100%; 
	height: 10px; 
	background-color: rgba(0, 0, 0, 1);
}

#mp3 {
	height: 90px;
	opacity: .3;
}

.container1 {
	background-color: black;
	height: 600px;
	width: 100%;
	position: relative;
	background-image: url("background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.container2 {
	height:500px;
	width:900px;
	position: relative;
	margin:0 auto;
	top:5%;
	background-image: url("2.png");

}

.window {
/*	background-color: blue;*/
	width:180px;
	height:390px;
	top:10%;
	margin-left: 35px;
	position: relative;
}


#left_window {
	float:left;
	position: relative;
	display: block;
	/*background-color: black;*/

}

#centerLeft_window {
	float:left;
	position: relative;
	display: block;
	/*background-color: yellow;*/
}

#centerRight_window {
	float:left;
	position: relative;
	display: block;
}

#right_window {
	float:left;
	position: relative;
	display:block;
	/*background-color: black;*/
	
}

.bottomButton {
	width:130px;
	height:130px;
	background-image: url("button1.png");
	background-repeat: no-repeat;
	position:absolute;
	margin: 0 auto;
	bottom:5%;
	border-radius: 8px;
	margin-left: 23px;
	cursor: pointer;

}

.bottomButton:hover {
	-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

.hidden {
	visibility: hidden;
}

.topAlien {
	width:200px;
	height:200px;
	background-image: url("alien2.png");
	position:absolute;
	margin: 0 auto;
	bottom:50%;
	border-radius: 8px;
	margin-left: 30px;
	background-repeat: no-repeat;
}

#starter {
	background-image: url("gun1.png");
	width: 250px;
	height:200px;
	position: relative;
	bottom:19%;
	margin-left: 15px;
	cursor: pointer;

}

#starter:hover {
	-webkit-transform: rotate3d(0, 0, 1, -8deg);
    transform: rotate3d(0, 0, 1, -8deg);
}


